all_true=[{{ all 1 "a" true }}]
all_with_empty=[{{ all 1 "" true }}]
all_with_zero=[{{ all 1 0 true }}]
any_some=[{{ any 0 "" "found" }}]
any_none=[{{ any 0 "" false }}]
all_empty_args=[{{ all }}]
any_empty_args=[{{ any }}]
