empty:{{ if empty .empty }}T{{ else }}F{{ end }} filled:{{ if empty .filled }}T{{ else }}F{{ end }} zeros:{{ if empty .zeroFields }}T{{ else }}F{{ end }} nested:{{ if empty .nested }}T{{ else }}F{{ end }}
